	<p>Live Departures for {{times.stationcode}}:</p>

	<a class="option" href="#/">
		<span class="fa fa-chevron-left"></span>
		Choose another station
	</a>

	<a class="option" href ng-click="times.fetchresults()" ng-hide="times.loading">
		<span class="fa fa-refresh"></span>
		Refresh results
	</a>

	<div class="loading option" ng-show="times.loading">
			<span class="fa fa-spinner fa-spin"></span>
		Loading...
	</div>

	<table class="results">
		<tr><th>Departure</th><th>Destination</th><th>Platform</th></tr>
		<tr class="result" ng-repeat="result in times.trains" ng-class="{delayed:result.Delayed,cancelled:result.Cancelled}">
		<td>{{result.STD}} ({{times.calculatestatus(result)}})</td>
		<td><abbr title="{{result.Destinations[0].CrsCode}}">{{result.Destinations[0].Location}}</abbr></td>
		<td>{{result.Platform}}</td>
		</tr>
	</table>