	<p>Choose a depature station:</p>
	<input class="option" ng-model="select.query" ng-change="select.autocomplete()" placeholder="Station name (eg. Edinburgh)"/>

	<div class="option loading" ng-show="select.locating">Fetching Location...
		<img class="pullright" src="locating.gif"/>
	</div>
	<div class="option loading" ng-show="select.loading">Loading...
		<span class="pullright fa fa-spin fa-spinner"></span>
	</div>

	<div class="option" ng-repeat="result in select.results" ng-click="select.selectResult(result)">
	<span class="crs pullleft crswidth smalltext">{{result.CrsCode}}</span>
	{{result.StationName}}
	<span class="fa fa-chevron-right pullright"></span>
	</div>